<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Entidades Cadastradas</h1>
  
  <% for (let entidade of locals.entidades) { %>
    <div>
      <span><%= entidade.nome %></span>
      <small><%= entidade.campo.nome %></small>
    </div>
  <% } %>
</body>
</html>