<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <!-- <style>
    a {
      display: block;
      background-color: tomato;
    }
  </style> -->

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="styles/index.css">
</head>
<body>
  <aside>
    
  </aside>

  <main>
    <h2>
      Cadastre sua <span>entidade</span> ou
      <br/>
      acesse dados <span>de parceiras</span>
    </h2>

    <div>
      <a class="btn" href="/entidades/novo">Cadastrar entidade</a>
      <a class="btn" href="/entidades">Ver entidades cadastradas</a>
    </div>

    <footer>
      <p>Sua entidade não se enquadra nos campos de atuação disponíveis?</p>
      <a href="/campos/novo">Registrar novo campo de atuação</a>
    </footer>

  </main>
</body>
</html>