<!DOCTYPE html>
<head>

</head>

<body>
  <h1>Novo Campo</h1>
  
  <form method="POST" action="/campos">
    <div>
      <label>
        nome
        <input name="nome" type="text">
      </label>
    </div>

    <button>Cadastrar campo</button>
  </form>
</body>
</html>